@mixin container{
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

@mixin displayFlex($type : "both"){
  display: flex;
  @if $type == "horizontal"{
    justify-content: center;
  }@else if $type == "vertical"{
    align-items: center;
  }@else if $type == "both"{
    justify-content: center;
    align-items: center;
  }@else if $type == "between"{
    justify-content: space-between;
  }@else if $type == "evenly"{
    justify-content: space-evenly;
  }@else if $type == "none"{}
}